body {
    background-color: #f7f9fc;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.radio-group {
    padding: 10px 20px;
    text-align: center;
}

#sales-graph {
    margin: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    padding: 10px;
}
